 .img-responsive.photo-ceo{
        position: absolute;
        right: 0px;
    }
    .service-detail {
        text-align: justify;
    }
    .row.postres {
        margin-top: -27px;
    }
    .service-detail {
        margin-top: -16px;
    }
    .tab-section .nav-stacked li.active a span{
        background-color: #1274bd !important;
    }
    .tab-section .nav-stacked li span::after{
        background: #1274bd none repeat scroll 0 0 !important;
    }
    .tab-section .nav-stacked li.active a span::before{
        border-left:22px solid #1274bd !important;
    }
    tab-section .nav-stacked li span::before {
        border-left: 22px solid #1274bd;
    }
    .tab-section .nav-stacked li span:hover::before{
        border-left: 22px solid #1274bd;
    }